.main-bg {
  background-color: #fff !important;
}

.md-card-image {
  background-color: #eee;
  /*height: 100px;*/
}

.card-media {
  background-color: #999999; 
}

svg {
    fill: inherit;
}

md-card-avatar {
  margin-right: 20px !important;
}

.md-add-icon {
  fill: #13a9bf !important;
}

.md-book {
  background-color: #13a9bf !important;
  color: #fff !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.next-line {
    display: block;
    /*white-space:nowrap;*/
}