<div class="container">
	<div layout-gt-xs="row">
		<div flex-gt-xs class="md-datepicker-flex">
			<md-input-container class="md-block">
	      		<md-datepicker ng-model="View1Ctrl.select.date" md-placeholder="-- / -- / --" md-open-on-focus md-hide-icons="calendar"></md-datepicker>
	  		</md-input-container>
	    </div>

		<div flex-gt-xs flex-offset="5">
			<md-select ng-model="View1Ctrl.select.district" placeholder="District" class="md-no-underline">
	          <md-option value="axe">North</md-option>
	          <md-option value="sword">South</md-option>
	          <md-option value="wand">East</md-option>
	          <md-option value="pen">West</md-option>
	        </md-select>
		</div>

		<!-- <div flex="30">
	        <md-time-picker ng-model="time.twelve" message="message" md-hide-icons="all"></md-time-picker>
		</div> -->

		<div flex-gt-xs flex-offset="5">
			<md-select ng-model="View1Ctrl.select.category" placeholder="Categories" class="md-no-underline">
	          <md-option value="axe">Stage 1</md-option>
	          <md-option value="sword">Stage 2</md-option>
	          <md-option value="wand">Stage 3</md-option>
	          <md-option value="pen">Stage 4</md-option>
	        </md-select>
		</div>

		<div flex-gt-xs flex-offset="5">
			<md-select ng-model="View1Ctrl.select.language" placeholder="Language" class="md-no-underline">
	          <md-option value="axe">English</md-option>
	          <md-option value="sword">Malay</md-option>
	          <md-option value="wand">Chinese</md-option>
	          <md-option value="pen">Tamil</md-option>
	        </md-select>
		</div>
	</div>
</div>