<div class="container">
	<div layout-gt-xs="row">
		<div flex="30">
			<md-input-container class="filter-container">
	      		<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
	  		</md-input-container>
	    </div>

		<div flex-gt-xs>
			<md-input-container>
				<label>Location</label>
				<md-select ng-model="size">
				  <!-- <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option> -->
				</md-select>
			</md-input-container>
		</div>

	    <div flex-gt-xs>
			<md-input-container>
				<label>Time</label>
				<md-select ng-model="size">
				  <!-- <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option> -->
				</md-select>
			</md-input-container>
		</div>

		<div flex-gt-xs>
			<md-input-container>
				<label>Categories</label>
				<md-select ng-model="size">
				  <!-- <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option> -->
				</md-select>
			</md-input-container>
		</div>

		<div flex-gt-xs>
			<md-input-container>
				<label>Language</label>
				<md-select ng-model="size">
				  <!-- <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option> -->
				</md-select>
			</md-input-container>
		</div>
	</div>
</div>