<div ng-repeat="option in View1Ctrl.data.mosques | filterFtr: View1Ctrl | orderBy: View1Ctrl.criteria.sort.key">
  <div layout-gt-xs="row" layout-align="stretch">
    <div flex-gt-xs>

      <md-card>
        <img ng-src="{{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].imagePath}}" class="md-card-image">

        <md-card-actions class="no-margin">
          <div layout-gt-sm="row" layout-align="space-between center">
            <div>
              <md-button ng-disabled="true">
                {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].duration}}
              </md-button>
            </div>
            <div>
              <md-button ng-disabled="true">
                {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].start_date | date: 'MMM d'}} to {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].end_date | date:'MMM d'}}
              </md-button>
            </div>
            <div>
              <md-button ng-disabled="true">
                {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].fee}}
              </md-button>
            </div>
          </div>
        </md-card-actions>
        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-if="option.name">{{option.name}}</span>
            <span class="next-line" ng-if="option.address">{{option.address}}</span>
            <!-- <span class="next-line" ng-if="option.address1">{{option.address1}}</span>
            <span class="next-line" ng-if="option.postal">{{option.postal}}</span>
            <span class="next-line" ng-if="option.tel">Tel: {{option.tel}}</span>
            <span class="next-line" ng-if="option.tel">Fax: {{option.fax}}</span> -->
          </md-card-title-text>

          <md-card-title-media>
            <div class="md-media-md card-media">
              <img class="md-user-avatar" ng-src="{{option.imagePath}}"/>
            </div>
          </md-card-title-media>
          
        </md-card-title>

        <div layout-gt-sm="row">
          <md-card-header flex-gt-xs ng-repeat="speaker in View1Ctrl.data.groupBy[option.id].speaker">
            <md-card-avatar>
              <img class="md-user-avatar speaker" ng-src="{{speaker.imagePath ? speaker.imagePath : 'assets/ic_account_circle_black_48px.svg'}}" ng-class="{'speaker-bg' : speaker.imagePath}"/>
            </md-card-avatar>
            <md-card-header-text layout-align="center">
              <span class="md-title">{{speaker.title}} {{speaker.name}}</span>
            </md-card-header-text>
          </md-card-header>
        </div>

        <md-card-content>
          <h4><b> {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].name}} </b></h4>
          <h5> {{View1Ctrl.data.groupBy[option.id].day}}, {{View1Ctrl.data.groupBy[option.id].time}} </h5>
          <p> {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].description}} </p>
        </md-card-content>

        <md-divider></md-divider>

        <md-card-actions class="no-margin" layout="row" layout-align="space-between center">
          <div class="hashtag">
            #{{View1Ctrl.data.group[View1Ctrl.data.groupBy[option.id].group_id].name.split(' ').join('')}}
            #{{View1Ctrl.data.district[option.district].name}} 
            #{{View1Ctrl.data.language[View1Ctrl.data.groupBy[option.id].language_id].name}}
          </div>

          <md-button class="md-book">
            <md-icon class="enroll-icon">create</md-icon>
          </md-button>
        </md-card-actions>

      </md-card>
    </div>
  </div>
</div>