<div ng-repeat="option in View1Ctrl.data.mosques | filterFtr: View1Ctrl">
  <div layout-gt-xs="row" layout-align="stretch">
    <div flex-gt-xs>

      <md-card>
        <img ng-src="{{imagePath}}" class="md-card-image">
        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-if="option.name">{{option.name}}</span>
            <span class="next-line" ng-if="option.address">{{option.address}}</span><!-- 
            <span class="next-line" ng-if="option.address1">{{option.address1}}</span>
            <span class="next-line" ng-if="option.postal">{{option.postal}}</span>
            <span class="next-line" ng-if="option.tel">Tel: {{option.tel}}</span>
            <span class="next-line" ng-if="option.tel">Fax: {{option.fax}}</span> -->
          </md-card-title-text>
          <!-- <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media> -->

          
        </md-card-title>

        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="assets/ic_account_circle_black_48px.svg"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">User</span>
            <span class="md-subhead">subhead</span>
          </md-card-header-text>
        </md-card-header>
<!-- 
        <md-card-header>
          <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="assets/ic_account_circle_black_48px.svg"></md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">User</span>
            <span class="md-subhead">subhead</span>
          </md-card-header-text>
        </md-card-header> -->

        <md-card-content>
          <p> {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].name}} </p>
          <p> {{View1Ctrl.data.groupBy[option.id].day}} {{View1Ctrl.data.groupBy[option.id].time}} </p>
          <p> {{View1Ctrl.data.groupBy[option.id].group}} </p>
          <p> {{View1Ctrl.data.classes[View1Ctrl.data.groupBy[option.id].class_id].description}} </p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <!-- <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-icon-actions> -->

          <md-button class="md-book">Enroll</md-button>
          <!-- <md-button class="md-icon-button" aria-label="Use Android">
              <md-icon class="md-add-icon" md-svg-src="assets/ic_add_white_48px.svg"></md-icon>
              <h3>Enrol</h3>
          </md-button> -->
        </md-card-actions>

      </md-card>
    </div>
  </div>
</div>