.btn-book {
  background-color: #6c267e !important;
  color: #fff !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.thumbnail >img {
  background-color: #ddd;
  height: 115px !important;
}

.form-control {
  border-radius: 0px !important;
}

.thumbnail .caption >button {
  margin-top: 80px;
  padding: 8px 35px !important;
  background-color: #13a9bf !important;
}

@media only screen and (max-width: 500px) {
    .thumbnail .caption >button {
	  margin-top: 0px !important;
	}

	md-input-container {
    	display: content !important; 
	}
}