<!-- <div class="example3">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><img src="assets/icon.svg" alt="Mosque"></a>
      </div>
    </div>
  </nav>
</div> -->

<div class="container-fluid navigation-toolbar">
  <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools navigation-toolbar-tools">
          <md-button class="md-icon-button logo-button" aria-label="Settings" ng-disabled="true">
            <md-icon class="logo-icon" md-svg-icon="assets/icon.svg"></md-icon>
          </md-button>

          <div flex></div>

          <!-- <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2> -->

          <md-button class="md-icon-button" ng-click="View1Ctrl.toggleLeft()">
            <md-icon style="color:#fff !important">menu</md-icon>
          </md-button>

          <md-button class="md-icon-button" ng-click="">
            <md-icon style="color:#fff !important">account_circle</md-icon>
          </md-button>
        </div>
      </md-toolbar>
  </div>