#fixed-menu, .navigation-toolbar > md-toolbar > div{
  background-color: #000;
}

body {
  font-family: "Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif";
}

.logo-button {
  height: auto !important;
  width: auto !important;
}

.logo-icon {
  height: 36px !important;
  width: 36px !important;
}

.navigation-toolbar-tools {
  padding: 0px !important;
}