<div class="container" ng-repeat="option in View1Ctrl.data">
  <div class="row">
    <div class="col-sm-4 col-md-4">

    </div>

    <div class="col-sm-8 col-md-8">
      <div class="thumbnail">
        <img src="" alt="" style="width:100%">

        <div class="row">
          <div class="col-sm-8 col-md-8">
            <div class="caption">
              <h5>TUE, 26 Sept 7:15 PM</h5>
              <p>{{option.name}}</p>
              <p>{{option.address}}</p>
              <p>Class 1</p>
              <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
            </div>
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="caption text-right">
              <button class="btn btn-default btn-book btn-lg" type="button">Enrol</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>