.jumbotron .container >h2 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
}

.btn-search {
  background-color: #6c267e !important;
  color: #fff !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 8px 16px !important;
  border-radius: 0px !important;
}

.input-lg,
.form-control {
  border-radius: 0px !important;
  font-size: 14px !important;
}

.btn-default {
  border-color: none !important;
}

.search-bar input {
  border: 0px !important;
  font-weight: 300 !important
}

.md-errors-spacer { 
  display: none; 
}

.md-toolbar-tools {
  background-color: #fff;
}

md-toolbar:not(.md-menu-toolbar) md-icon {
  color: darkgray !important;
}

.paper-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-toolbar {
  background: #fff !important;
}